$component: 'island';

.#{$component} {
  border-radius: 1rem;
  background-color: yellow;

  &__item {
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  &__item + &__item {
    border-top: 1px solid #4c6eddc9;
  }

  &_clickable {
    cursor: pointer;
  }

  &_active {
    h4 {
      color: rgb(64, 64, 211);
    }
  }
}
